@{
    ViewData["Title"] = "Inicio";
}

<div>
    <a class="banner" href="https://isp20.edu.ar/nuevo/">
        <img src="https://isp20.edu.ar/nuevo/wp-content/uploads/2024/04/cropped-cropped-Instituto-Superior-de-Profesorado-N%C2%B020-6.png" alt="Banner" style="width: 100%; display: block;">
    </a>
</div>
<br>
<br>
<div>
    <a href="https://isp20.edu.ar/nuevo/category/actividades-de-extension/" rel="category tag">Actividades de extensión</a>

    <a href="https://isp20.edu.ar/nuevo/category/novedades-institucionales/" rel="category tag">Novedades Institucionales</a>
</div>
<br>
<br>
@{
    ViewData["Title"] = "Torneo de Ajedrez: Copa Instituto N° 20";
}
<h1 class="body">@ViewData["Title"]</h1>

<figure class="post-image">
    <img width="75" height="75" src="~/imgs/logo.png" alt="Logo">
</figure>

<div>
    <center>
        <img width="300" height="300" src="~/imgs/torneo.jpg" />
    </center>
    <br>
    <br>
    <p>En el marco de sus 35 años de trayectoria, el Instituto invita al Torneo de Ajedrez, Copa Instituto Superior de Profesorado N°20 “Senador Néstor Zamaro”.</p>
    <br>

    <p>El mismo, es organizado por el Círculo de Ajedrez de San Justo y la Biblioteca Popular Mariano Moreno y  se desarrollará el próximo 4 de mayo en el SUM de la institución “Don Horacio José Grosso”, desde las 14 hs.</p>
    <br>

    <p>Inscripción: $500</p>
    <br>

    <p>Modalidad: Blitz 5m +3´</p>
    <br>

    <p>Premiación:</p>
    <ul>
        <li> Campeón Copa Aniversario</li>
        <li> Mejor terna Instituto</li>
        <li> Mejor terna Juvenil</li>
        <li> Mejor terna infantil</li>
        <li>Se invita a todos los interesados, sumarse a la propuesta.</li>
    </ul>
    <br>

    <p>Referente Institucional: Prof. Juan Pablo Gaido.</p>

</div>

<br>
<br>