@page
@model PrivacyModel
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Proyecto de cátedra de Base de Datos II.</p>
<h3>3er año Tecnicatura Superior en Desarrollo de Software.</h3>
<img src="~/imgs/logo.png" />